pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/

# tooling caches
.lsp/
.clj-kondo/
.DS_Store
.envrc.private
.idea/
*.iml
